.colLabel
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
}


.colButton
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    margin:0 auto; 
}



.inLabel
{
    position:relative; 
    display: block; 
    font-size:25px; 
    font-weight:600; 
}


.inInput
{
    position:relative; 
    display: block;
    top:50%; 
    font-size:25px; 
    font-weight:600;
}