.colLabel
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
}


.colButton
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    margin:0 auto; 
}