@font-face 
{
    font-family: pixelFont;
    src: url(PixelFont.ttf);
}

canvas {
    background-color: black; 
    font-family:pixelFont;
}
#load 
{
    font-family:pixelFont;
    visibility: hidden; 
    height: 0px;
}
.title
{
    display:inline; 
    position: fixed; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont;
}

.colLabel
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont; 
}

.colButton
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 1.4vw;
    margin: auto; 
    font-family: pixelFont; 
    margin-top: 10px;
    margin-bottom: 10px;
}


.menuButton
{
    left:25%; 
    width: 50%; 
    text-align: center;
    font-size: 1.4vw;
    margin: auto; 
    font-family: pixelFont; 
    margin-top: 10px;
    margin-bottom: 10px;
    height:10%;  
    margin:10px; 
    font-weight:400;  
    display: inline; 
    position:fixed; 
}


.inLabel
{
    position:relative; 
    display: block; 
    font-size:25px; 
    font-weight:600; 
    text-align:center;
    font-size: 2.0vw;
    margin:auto;
    font-family: pixelFont; 
}

.inInput
{
    position:relative; 
    display: block;
    top:50%; 
    font-weight:600;
    font-size: 1.0vw;
    margin:auto;
    font-family: pixelFont; 
}