@font-face 
{
    font-family: pixelFont;
    src: url(PixelFont.ttf);
}

.title
{
    display:inline; 
    position: fixed; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont;
}

.colLabel
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont; 
}

.colButton
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 2.0vw;
    margin:0 auto; 
    font-family: pixelFont; 
}

.inLabel
{
    position:relative; 
    display: block; 
    font-size:25px; 
    font-weight:600; 
    text-align:center;
    font-size: 2.0vw;
    left:15%;
    font-family: pixelFont; 
}

.inInput
{
    position:relative; 
    display: block;
    top:50%; 
    font-size:25px; 
    font-weight:600;
    font-size: 1.5vw;
    left:15%;
    font-family: pixelFont; 
}