@font-face 
{
    font-family: pixelFont;
    src: font-url("/client/css/pixelFont.ttf");
}


.title
{
    display:inline; 
    position: fixed; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont; 
    font-smooth: never;
    n-webkit-font-smoothing : none;
}


.colLabel
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont; 
    font-smooth: never;
    n-webkit-font-smoothing : none;
}


.colButton
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 2.0vw;
    margin:0 auto; 
    font-family: pixelFont; 
    font-smooth: never;
    n-webkit-font-smoothing : none;
}




.inLabel
{
    position:relative; 
    display: block; 
    font-size:25px; 
    font-weight:600; 
    text-align:center;
    font-size: 2.0vw;
    left:15%;
    font-family: pixelFont; 
    font-smooth: never;
    n-webkit-font-smoothing : none;
}


.inInput
{
    position:relative; 
    display: block;
    top:50%; 
    font-size:25px; 
    font-weight:600;
    font-size: 1.5vw;
    left:15%;
    font-family: pixelFont; 
    font-smooth: never;
    n-webkit-font-smoothing : none;
}