@font-face 
{
    font-family: pixelFont;
    src: url(PixelFont.ttf);
}

.title
{
    display:inline; 
    position: fixed; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont;
}

.colLabel
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 3.0vw;
    font-family: pixelFont; 
}

.colButton
{
    display:block; 
    position: relative; 
    width: 100%; 
    text-align: center;
    font-size: 1.4vw;
    margin: auto; 
    font-family: pixelFont; 
<<<<<<< HEAD
    margin-top: 10px;
    margin-bottom: 10px;
    font-smooth: never;
    n-webkit-font-smoothing : none;
=======
>>>>>>> ec532e7b5d959862ad3c619929e54f527a16b1fe
}

.inLabel
{
    position:relative; 
    display: block; 
    font-size:25px; 
    font-weight:600; 
    text-align:center;
    font-size: 2.0vw;
    margin:auto;
    font-family: pixelFont; 
}

.inInput
{
    position:relative; 
    display: block;
    top:50%; 
    font-weight:600;
    font-size: 1.0vw;
    margin:auto;
    font-family: pixelFont; 
}